.body {
  background-color: #f3f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile-container {
  background-color: #262934;
  height: 100vh;
  color: #f3f5f5;
  background-image: url("../assets/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.profile-details {
  padding-top: 17em;
  padding-left: 7em;
}

.btn {
  position: relative;
  top: -60px;
  margin-top: 2em;
  margin-right: 0.8em;
  background: linear-gradient(to bottom, 5%, 100%);
  background-color: rgba(216, 31, 38, 0.6);
  border: 2px solid #8d998e;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #f3f5f5;
  font-size: 17px;
  padding: 12px 31px;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(radial, 5%, 100%);
  background-color: #262934;
  color: rgba(216, 31, 38, 0.7);
  border-color: rgba(216, 31, 38, 0.9);
}
.btn:active {
  position: relative;
  top: 1px;
}

.colz-icon i {
  padding-right: 0.35em;
  padding-bottom: 1em;
  font-size: 1.5em;
  color: #f3f5f5;
}
.colz-icon i:hover {
  transform: scale(1.1);
  color: #d81f26;
}
.upper-text {
  position: relative;
  top: -20px;
  font-size: 27px;
  font-weight: 600;
}
.highlighted-text {
  font-weight: 750;
  font-size: 32px;
  color: #d81f26;
}
.title {
  position: relative;
  top: -30px;
  font-weight: 750;
  font-size: 40px;
}
.lower-text {
  position: relative;
  top: -55px;
  font-weight: 300;
  font-size: 24px;
}
